<div>
    <div class="modal-header">
      <h5 class="modal-title">{{'Tables.SelectColumns' | translate}}</h5>
      <button (click)="cancel()"
              type="button" class="close" data-dismiss="modal" aria-label="Cancel">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body pt-0">
      <div class="row">
        <div class="col-12">
          <p [translate]="'Tables.SelectColumnHelp'"></p>
          <p [translate]="'Tables.MoveColumnHelp'"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
            <select [formControl]="availableColumnsControl" size="10" class="form-select form-control" multiple aria-label="multiple select example">
                <ng-container *ngIf="columns">
                  <ng-container *ngFor="let column of columns | orderBy: ['title']">
                    <option [value]="column.key">{{column.title}}</option>
                  </ng-container>
                </ng-container>
            </select>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
          <div class="col-9">
            <div>
              <button [disabled]="!(availableColumnsControl.value && availableColumnsControl.value.length)" (click)="addColumns()" type="button" class="btn btn-primary btn-block">
                <i class="fas fa-plus mr-2"></i><span [translate]="'Tables.AddColumn'"></span>
              </button>
            </div>
            <div class="mt-3">
              <button [disabled]="!(selectedColumnsControl.value && selectedColumnsControl.value.length)" (click)="removeColumns()" type="button" class="btn btn-secondary btn-block">
                <i class="fas fa-minus mr-2"></i><span [translate]="'Tables.RemoveColumn'"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-4">
            <select [formControl]="selectedColumnsControl" size="10" class="form-select form-control" multiple aria-label="multiple select example">
              <ng-container *ngIf="selectedColumns">
                <ng-container *ngFor="let column of selectedColumns">
                  <option [value]="column.key">{{column.title}}</option>
                </ng-container>
              </ng-container>
          </select>
          <div class="d-flex justify-content-center align-items-center">
            <div class="btn-group mt-4">
              <button #moveUpButton (click)="moveUp()" type="button" class="btn btn-primary">
                <i class="fas fa-chevron-up mr-2"></i><span [translate]="'Tables.MoveUp'"></span>
              </button>
              <button #moveDownButton (click)="moveDown()" type="button" class="btn btn-primary ml-2">
                <i class="fas fa-chevron-down mr-2"></i><span [translate]="'Tables.MoveDown'"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
        
    </div>
    <div class="modal-footer justify-content-end">
      <button [disabled]="okButtonDisabled" (click)="ok()"
              type="button" class="btn btn-primary">
        {{'OK' | translate}}
      </button>
      <button [disabled]="cancelButtonDisabled"
              (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
        {{'Cancel' | translate}}
      </button>
    </div>
  </div>
  